.App {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  
}

.App h1, p {

  text-align: center;
}


.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
  
  
}

.item {
  flex: 1;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 2rem;
  border: solid 1px rgba(0,0,0,0.24);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.24);
  width: 300px;
  height: 300px;
}

.item p {
  
  line-height: 1.5em;
  text-align: left;
}



