.App {
  font-family: sans-serif;
  text-align: center;
}

.item {
  margin: 25px;
  border: solid 1px #eee;
  min-width: 300px;
}

.item p {
  margin: 15px;
  line-height: 1.5em;
  text-align: left;
}



